.trafficLight-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trafficLight{
    margin: 10px;
    height: 230px;
    width: 80px;
    // border: 1px solid gray;
    border-radius: 5%;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.green-off, .green-on, .orange-on, .orange-off, .red-on, .red-off {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 5px;
    // border: 1px solid black;
}

.green-off {
    background-color: darkGreen;
}

.green-on {
    background-color: #00ee28;
}

.orange-on {
    background-color: orange;
}

.orange-off {
    background-color: #a25000;
}

.red-off {
    background-color: darkRed;
}

.red-on {
    background-color: red;
}


