.log-container{
    width: 100%;
    font-family: Arial;
    // font-weight: bold;
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    
    // border: 1px solid gray;
    

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.log-items{
    background-color: lightGray;
    

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}